In [301]:
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text, Table, Column, Integer, String, DateTime, MetaData, ForeignKey

In [302]:
# engine = create_engine('mysql+pymysql://zimgong-rw:87f48faeaf7f999f99fe9b46bc9b7e3f@34.71.12.223:10963')

In [303]:
# with engine.connect() as conn:
#     conn.execute(text("CREATE DATABASE IF NOT EXISTS NREL_all_stations_data"))
#     conn.execute(text("USE NREL_all_stations_data"))

In [304]:
df = pd.read_csv('../data/NREL_All_Stations_data.csv', delimiter='\t')
df = df[df['Status Code'] == 'E']
keys = ['Station Name', 'Street Address', 'City', 'State', 'ZIP', 'EV Level1 EVSE Num', 'EV Level2 EVSE Num',
        'EV DC Fast Count', 'EV Network', 'Date Last Confirmed', 'EV Connector Types', 'Facility Type']
print('Number of keys:', len(keys))
df = df[keys]

Number of keys: 12

/tmp/ipykernel_19646/1216455271.py:1: DtypeWarning: Columns (6,20,31,46,69,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/NREL_All_Stations_data.csv', delimiter='\t')

In [305]:
df.keys()

Index(['Station Name', 'Street Address', 'City', 'State', 'ZIP',
       'EV Level1 EVSE Num', 'EV Level2 EVSE Num', 'EV DC Fast Count',
       'EV Network', 'Date Last Confirmed', 'EV Connector Types',
       'Facility Type'],
      dtype='object')

In [307]:
df = df[df['State'] == 'MI']
df = df[df['City'] == 'Ann Arbor']
df.reset_index(drop=True, inplace=True)
df

,Station Name,Street Address,City,State,ZIP,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Network,Date Last Confirmed,EV Connector Types,Facility Type
0,Ann Arbor Downtown Development Authority - Cat...,121 Catherine St,Ann Arbor,MI,48104,NaN,2.0,NaN,Non-Networked,2023-06-12,J1772,PARKING_LOT
1,Ann Arbor Nissan,3975 Jackson Rd,Ann Arbor,MI,48103,NaN,1.0,2.0,Non-Networked,2022-03-07,CHADEMO J1772 J1772COMBO,CAR_DEALER
2,Ann Arbor Nissan,3975 Jackson Rd,Ann Arbor,MI,48103,NaN,1.0,NaN,Non-Networked,2022-03-07,J1772,CAR_DEALER
3,IMRA America,1044 Woodridge Ave,Ann Arbor,MI,48105,NaN,2.0,NaN,Non-Networked,2022-06-14,J1772,OFFICE_BLDG
4,Varsity Ford,3480 Jackson Rd,Ann Arbor,MI,48103,NaN,1.0,NaN,Non-Networked,2022-06-14,J1772,CAR_DEALER
...,...,...,...,...,...,...,...,...,...,...,...,...
71,Baker Commons-Forth-Carshare,106 Packard St,Ann Arbor,MI,48509,NaN,1.0,NaN,OpConnect,2023-11-14,J1772,NaN
72,FA ANN ARBOR FOX ACURA #2,540 Auto Mall Dr,Ann Arbor,MI,48103,NaN,2.0,NaN,ChargePoint Network,2023-11-14,J1772,NaN
73,FA ANN ARBOR FOX ACURA #1,540 Auto Mall Dr,Ann Arbor,MI,48103,NaN,2.0,NaN,ChargePoint Network,2023-11-14,J1772,NaN
74,Farah Professional Center,3100 West Liberty Road,Ann Arbor,MI,48103,NaN,2.0,NaN,Blink Network,2023-11-14,J1772,NaN
75,407 North Ingalls,407 N Ingalls St,Ann Arbor,MI,48104,NaN,1.0,NaN,FLO,2023-11-14,J1772,NaN

In [276]:
df['City'] = df['City'].apply(lambda x: x.replace('Ann Arbor', '1'))
df['State'] = df['State'].apply(lambda x: x.replace('MI', '1'))

In [277]:
df_zip = df['ZIP'].unique()
df_zip = df_zip.tolist()
for i in range(len(df_zip)):
    df_zip[i] = int(df_zip[i])
df_zip = set(df_zip)
df_zip = list(df_zip)
df_zip

[48103, 48104, 48105, 48108, 48509]

In [278]:
df['ZIP'] = df['ZIP'].apply(lambda x: df_zip.index(int(x)) + 1)

In [279]:
df_ev_network = df['EV Network'].unique()
df_ev_network.sort()
df_ev_network = df_ev_network.tolist()
df_ev_network

['Blink Network',
 'ChargePoint Network',
 'EV Connect',
 'FLO',
 'Non-Networked',
 'OpConnect',
 'SHELL_RECHARGE',
 'Tesla',
 'Tesla Destination']

In [280]:
df['EV Network'] = df['EV Network'].apply(lambda x: x.replace('Tesla Destination', 'Tesla'))
df['EV Network'] = df['EV Network'].apply(lambda x: df_ev_network.index(x) + 1)

In [281]:
df_facility_type = df['Facility Type'].unique()
df_facility_type.tolist()
for i in range(len(df_facility_type)):
    df_facility_type[i] = str(df_facility_type[i])
df_facility_type.sort()
df_facility_type = df_facility_type.tolist()
df_facility_type = df_facility_type[:-1]
df_facility_type

['CAR_DEALER',
 'FED_GOV',
 'HOTEL',
 'OFFICE_BLDG',
 'PARKING_GARAGE',
 'PARKING_LOT',
 'PAY_GARAGE']

In [282]:
# df['Facility Type'].replace(np.nan, 'nan', inplace=True)
df['Facility Type'] = df['Facility Type'].apply(lambda x: df_facility_type.index(x) + 1 if x in df_facility_type else 0)

In [283]:
df['Facility Type'].replace(0, np.nan, inplace=True)

In [308]:
df['EV Connector Types'].unique()

array(['J1772', 'CHADEMO J1772 J1772COMBO', 'TESLA', 'J1772 TESLA',
       'NEMA515', 'CHADEMO J1772COMBO'], dtype=object)

In [323]:
connector_types = ['J1772', 'CHADEMO', 'TESLA', 'NEMA515']

In [324]:
connectors = df['EV Connector Types']
connectors

0                        J1772
1     CHADEMO J1772 J1772COMBO
2                        J1772
3                        J1772
4                        J1772
                ...
71                       J1772
72                       J1772
73                       J1772
74                       J1772
75                       J1772
Name: EV Connector Types, Length: 76, dtype: object

In [328]:
connectors_list = []
for idx, item in enumerate(connectors):
    types = item.split(' ')
    for type in types:
        if type in connector_types:
            connectors_list.append((connectors.index[idx] + 1, connector_types.index(type) + 1))

In [329]:
connectors_list_df = pd.DataFrame(connectors_list, columns=['Station ID', 'Connector Type'])

In [330]:
connectors_list_df.to_csv('../data/NREL_All_Stations_data_connector.csv', index=False)

In [241]:
df.drop(columns=['EV Connector Types'], inplace=True)

In [242]:
df.to_csv('../data/NREL_All_Stations_data_sql.csv', index=False, sep='\t')

In [243]:
# metadata_obj = MetaData()

In [244]:
# states_table = Table(
#     'states',
#     metadata_obj,
#     Column('id', Integer, primary_key=True),
#     Column('name', String(2))
# )

In [245]:
# cities_table = Table(
#     'cities',
#     metadata_obj,
#     Column('id', Integer, primary_key=True),
#     Column('name', String(50)),
# )

In [246]:
# zipcodes_table = Table(
#     'zipcodes',
#     metadata_obj,
#     Column('id', Integer, primary_key=True),
#     Column('code', String(5)),
# )

In [247]:
# ev_networks_table = Table(
#     'ev_networks',
#     metadata_obj,
#     Column('id', Integer, primary_key=True),
#     Column('name', String(50)),
# )

In [248]:
# ev_connector_types_table = Table(
#     'ev_connector_types',
#     metadata_obj,
#     Column('id', Integer, primary_key=True),
#     Column('name', String(50)),
# )

In [249]:
# facility_types_table = Table(
#     'facility_types',
#     metadata_obj,
#     Column('id', Integer, primary_key=True),
#     Column('name', String(50)),
# )

In [250]:
# stations_table = Table(
#     "stations",
#     metadata_obj,
#     Column("id", Integer, primary_key=True),
#     Column("station_name", String(255)),
#     Column("street_address", String(255)),
#     Column("city", Integer, ForeignKey('cities.id')),
#     Column("state", Integer, ForeignKey('states.id')),
#     Column("zip", Integer, ForeignKey('zipcodes.id')),
#     Column("ev_level1_evse_num", Integer),
#     Column("ev_level2_evse_num", Integer),
#     Column("ev_dc_fast_count", Integer),
#     Column("ev_network", Integer, ForeignKey('ev_networks.id')),
#     Column("date_last_confirmed", DateTime),
#     Column("ev_connector_types", Integer, ForeignKey('ev_connector_types.id')),
#     Column("facility_type", Integer, ForeignKey('facility_types.id')),
# )

In [251]:
# metadata_obj.create_all(engine)

In [252]:
# df.to_sql('NREL_All_Stations_data_sql', con=engine, if_exists='replace')